In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [45]:
df_test = pd.read_csv("test.csv")

In [46]:
df_test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [47]:
df_test["PoolQC"] = df_test["PoolQC"].fillna(0)
df_test["ExterQual"] = df_test["ExterQual"].fillna(0)
df_test["ExterCond"] = df_test["ExterCond"].fillna(0)
df_test["BsmtQual"] = df_test["BsmtQual"].fillna(0)
df_test["BsmtCond"] = df_test["BsmtCond"].fillna(0)
df_test["HeatingQC"] = df_test["HeatingQC"].fillna(0)
df_test["KitchenQual"] = df_test["KitchenQual"].fillna(0)
df_test["FireplaceQu"] = df_test["FireplaceQu"].fillna(0)
df_test["GarageQual"] = df_test["GarageQual"].fillna(0)
df_test["GarageCond"] = df_test["GarageCond"].fillna(0)
df_test['LotFrontage'] = df_test['LotFrontage'].fillna(df_test['LotFrontage'].mean())

In [48]:
df_test = df_test.replace("Ex", 5)
df_test = df_test.replace("Gd", 4)
df_test = df_test.replace("TA", 3)
df_test = df_test.replace("Fa", 2)
df_test = df_test.replace("Po", 1)

In [49]:
df_test["CentralAir"] = df_test["CentralAir"].replace("Y", 1)
df_test["CentralAir"] = df_test["CentralAir"].replace("N", 0)
#df["CentralAir"].value_counts() #YES or No variable

In [50]:
df_test["BsmtExposure"] = df_test["BsmtExposure"].fillna(0)
df_test["BsmtExposure"] = df_test["BsmtExposure"].replace(4, 3)
df_test["BsmtExposure"] = df_test["BsmtExposure"].replace("Av", 2)
df_test["BsmtExposure"] = df_test["BsmtExposure"].replace("No", 0)
df_test["BsmtExposure"] = df_test["BsmtExposure"].replace("Mn", 1)
#df["BsmtExposure"].value_counts()

In [51]:
df_test["PavedDrive"] = df_test["PavedDrive"].replace("Y", 2)
df_test["PavedDrive"] = df_test["PavedDrive"].replace("N", 0)
df_test["PavedDrive"] = df_test["PavedDrive"].replace("P", 1)
#df["PavedDrive"].value_counts()

In [52]:
#df_test.drop("Id", axis=1, inplace = True) #first of all we drop because it was assigned randomly and brings no value
df_test.drop("GarageCars", axis=1, inplace = True) # we drop GarageCars because it is logical that number of cars depends on the garage area
df_test.drop("PoolQC", axis=1, inplace = True)
df_test.drop("MiscFeature", axis = 1, inplace = True)
df_test.drop("BedroomAbvGr", axis = 1, inplace = True)
df_test.drop("1stFlrSF", axis = 1, inplace = True)
df_test.drop("2ndFlrSF", axis = 1, inplace = True)
df_test.drop("GarageCond", axis = 1, inplace = True)
df_test.drop("LowQualFinSF", axis = 1, inplace = True)
df_test.drop("KitchenAbvGr", axis = 1, inplace = True) #included in TotalRoomsAboveGround
df_test.drop("Utilities", axis = 1, inplace = True)
df_test.drop('Street', axis = 1, inplace = True)

In [53]:
homedata_onehot = pd.get_dummies(df_test, columns=['Foundation', 'GarageFinish', 'LandSlope', 'LotConfig',
 'LandContour', 'GarageType', 'LotShape', 'Alley', 'Fence', 'MSZoning', 'SaleType', 
    'Condition1', 'Functional', 'BsmtFinType1', 'BsmtFinType2',
 'MasVnrType', 'Exterior2nd', 'Heating', 'Neighborhood', 'SaleCondition',
 'Electrical', 'Exterior1st', 'RoofMatl', 'RoofStyle', 'HouseStyle', 'BldgType',
 'Condition2'])

In [54]:
homedata_onehot.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,BldgType_1Fam,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE,Condition2_Artery,Condition2_Feedr,Condition2_Norm,Condition2_PosA,Condition2_PosN
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,1,0,0,0,0,0,0,1,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,1,0,0,0,0,0,0,1,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,1,0,0,0,0,0,0,1,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,1,0,0,0,0,0,0,1,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,1,0,0

In [55]:
NA = pd.DataFrame(columns=['Column',
                  'perc_NA'])
for column in homedata_onehot.columns:
    NA = NA.append({'Column' : column, 'perc_NA' : sum(homedata_onehot[column].isna())/len(homedata_onehot)}, ignore_index=True)

In [56]:
NA.sort_values('perc_NA', ascending=False).head(11)

                  Column   perc_NA
29           GarageYrBlt  0.053461
8             MasVnrArea  0.010281
22          BsmtHalfBath  0.001371
21          BsmtFullBath  0.001371
30            GarageArea  0.000685
16             BsmtUnfSF  0.000685
15            BsmtFinSF2  0.000685
14            BsmtFinSF1  0.000685
17           TotalBsmtSF  0.000685
158  Neighborhood_NWAmes  0.000000
163  Neighborhood_Sawyer  0.000000

In [57]:
same_count=0
diff_count=0
total_diff = 0
for i, x in zip(homedata_onehot['YearBuilt'],homedata_onehot['GarageYrBlt']):
    if np.isnan(x):
        continue
    else:
        if i == x:
            same_count+=1
        else:
            diff_count+=1
            total_diff= total_diff+(x-i)
        
print('same count:', same_count)
print('diff_count:', diff_count)
print('avg diff:', total_diff/diff_count)
print(same_count/(same_count+diff_count))
print(1-(same_count/(same_count+diff_count)))
print(81*0.79)
print(81*0.21)

same count: 1127
diff_count: 254
avg diff: 26.665354330708663
0.8160753077480087
0.18392469225199126
63.99
17.009999999999998

In [58]:
homedata_onehot['GarageYrBlt'] = homedata_onehot['YearBuilt']

In [59]:
print(sum(homedata_onehot['MasVnrArea'].isna()))
homedata_onehot['MasVnrArea'] = homedata_onehot['MasVnrArea'].fillna(0)

15

In [60]:
NA = pd.DataFrame(columns=['Column',
                  'perc_NA'])
for column in homedata_onehot.columns:
    NA = NA.append({'Column' : column, 'perc_NA' : sum(homedata_onehot[column].isna())/len(homedata_onehot)}, ignore_index=True)
NA.sort_values('perc_NA', ascending=False)

              Column   perc_NA
22      BsmtHalfBath  0.001371
21      BsmtFullBath  0.001371
30        GarageArea  0.000685
14        BsmtFinSF1  0.000685
17       TotalBsmtSF  0.000685
..               ...       ...
80       MSZoning_FV  0.000000
81       MSZoning_RH  0.000000
82       MSZoning_RL  0.000000
83       MSZoning_RM  0.000000
218  Condition2_PosN  0.000000

[219 rows x 2 columns]

In [61]:
homedata_onehot = homedata_onehot.fillna(0)

In [62]:
homedata_onehot.to_csv("test_cleaned.csv", index=False)

In [63]:
homedata_onehot.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,ExterQual,...,BldgType_1Fam,BldgType_2fmCon,BldgType_Duplex,BldgType_Twnhs,BldgType_TwnhsE,Condition2_Artery,Condition2_Feedr,Condition2_Norm,Condition2_PosA,Condition2_PosN
0,1461,20,80.0,11622,5,6,1961,1961,0.0,3,...,1,0,0,0,0,0,0,1,0,0
1,1462,20,81.0,14267,6,6,1958,1958,108.0,3,...,1,0,0,0,0,0,0,1,0,0
2,1463,60,74.0,13830,5,5,1997,1998,0.0,3,...,1,0,0,0,0,0,0,1,0,0
3,1464,60,78.0,9978,6,6,1998,1998,20.0,3,...,1,0,0,0,0,0,0,1,0,0
4,1465,120,43.0,5005,8,5,1992,1992,0.0,4,...,0,0,0,0,1,0,0,1,0,0